html, body {
    height: auto;
    min-height: 500vh;
    margin: 0;
    
}

.spacer {
    min-height: 2000px; 
    background-color: #f0f0f0; 
}
#header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav{
    background-color: teal;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    
}

.nav li a{
    text-decoration: none;
    color: white;
    display: block;
    
}



